<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy"
          content="default-src 'none'; 
                   script-src 'nonce-{{nonce}}' {{cspSource}}; 
                   style-src {{cspSource}};">
    <link rel="stylesheet" type="text/css" href="{{styleUri}}">
    <title>InstaFlow Chat</title>
</head>
<body>
    <div id="chat-container"></div>
    <div id="input-container">
        <input id="user-input" type="text" placeholder="Type a message..." />
        <button id="send-btn">Send</button>
    </div>
    <script nonce="{{nonce}}" src="{{scriptUri}}"></script>
</body>
</html>
